# image files
**.bmp
**.eps
**.gif
**.jpeg
**.JPEG
**.jpg
**.JPG
**.PDF
**.pdf
**.pdf_old
**.pdf_OLD
**.png
**.pnm
**.ps
**.tif
**.tiff
**.webp

# media
**.flac
**.mp3
**.mp4
**.webm
**.mkv

# grid data sets
**.grd
**.grid
**.grad
**.svn
**.tar

# sac data
**.z
**.n
**.e
**.r
**.t
**.sac
**.SAC
**.?HZ
**.?HN
**.?HE
*.grn*.?

# latex related
**.aux
**.bbl
**.blg
**.cls
**.cfg
**.dtx
**.dvi
**.ins
**.ldf
**.loa
**.lof
**.log
**.lot
**.nav
**.out
**.sgf
**.snm
**.toc
**.vrb
**.fdb_latexmk
**.fls
**.bak
**.spl


# misc
**.*~
**~
**.zip
**.bz2
**.tgz
**a.out
**.swp
**.tar
**.epub
**.rtf

# CAP related
cap
log_diff
search_range
**.bin
**capout_error.txt
**OUTPUT_DIR
**WEIGHT_CLEAN.dat
**weight_capin.dat
**weight_capout.dat
**weight_run.dat
**inp_cmd

# GMT related
**gmt.history
**gmt.conf
**.gmtcommands4
**.gmtdefaults4
**.cpt
**cpt_misfit
**cpt_misfit_c
**cpt_probs
**cpt_probs_c

# misc directories
bin/
deprecated/

# apple gunk
.DS_Store

# vim leftovers
**.swo

# python
**.pyc
**.ipynb_checkpoints 

# matlab
**.mat

# docs etc
**.doc
**.docx
**.xls
**.xlsx
**.ppt
**.pptx


